<footer class="footer" style="background-color:#c2c2c2; height: 40px">
  <div class="container">
    <center><p class="text-muted" style="line-height: 30px">Copyright © 2017 WinnerProject Team </p></center>
  </div>
</footer>