 @import "bootstrap";
 @import "font-awesome";
 @import url('https://fonts.googleapis.com/css?family=Raleway');


 $black: #2E2F34;
 $red: #BA3434;
 $blue: #3148A0;
 $white: #fafafa;

h1,h2,h3,h4,h5,h6,a,p {
    font-family: 'Raleway', sans-serif;
}
body {
    overflow-x: hidden;
    .notice {text-align: center; color: $blue;}
    .alert {text-align: center; color: $red;}
}
.navbar-default {
    background: $white;
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding: 10px;
    img {
        margin:auto; 
        height: 100%;
        &.brand-logo {
            display: block;
            @media screen and (max-width: 900px) {
                display: none;
            }
        }
        &.brand-icon {
            display: none;
            @media screen and (max-width: 900px) {
                display: block;
            }
        }
    }
}
.navbar-toggle {
    z-index:3;
}

.product {
    border: 3px solid $white;
    max-height: 300px;
    overflow: hidden;
    padding: 0;
    img {transition: all ease-in-out .3s; width: 100%;}
    .price {
        position: absolute;
        color: $black;
        top: 0px; left: 0px;
        padding: 5px 10px 0px;
        transform: rotate(-45deg);
        h4 {transition: all ease-in-out .3s;}
    }
    .desc {
        transition: all ease-in-out .3s;
        position: absolute;
        bottom: 0px;
        max-width: 300px;
        color: $white;
        h4 {text-align: center;padding: 0px 5px;}
        p {transition: all ease-in-out .3s;text-align: justify; padding: 0px 5px; height: 0px; opacity: 0;}
        .btn {
            height: 0px; 
            transition: all ease-in-out .3s; 
            margin-bottom: -25px;
        }
    }
    &:hover {
        img {filter: blur(3px)}
        .desc {
            color: $white; 
            p {
                height: 50px; 
                opacity: 1
            }
        .btn{
            height:35px; 
            margin-bottom: 0px;}
        }
        .price h4 {
            font-size: 30px;
        }  
    }
    &.tshirt {
        .price {
            color: $white;
        }
        .desc {
            background: transparentize($red, .5);
            .btn {
                background:transparentize($red, .9); 
            }
        }
        &:hover {
            img {
                filter: blur(3px)
            }
            .desc {
                background: transparentize($red, .25);
            }
        }
    }
    &.shoe {
        .price {
            color: $white;
        } 
         .desc {
            background: transparentize($blue, .5);
            .btn {
                background:transparentize($blue, .9); 
            }
        }  
        &:hover {
            img {
                filter: blur(3px)
            }
            .desc {
                background: transparentize($blue, .25);
            }
        }
    }
}

.single-product {
    height: 512px;
    .product-image {
        text-align: center;
        overflow: hidden;
        max-height: 100%;
        img {margin: auto; width: 100%;}
        padding: 0;
    }
    .product-desc {
        padding: 0;
        height: 100%;
        overflow: hidden;
        .desc {padding: 10px 15px;}
        .price {
            position:relative;
            text-align: center;
            padding: 5px;
            width: 100%;
            color: $white;
        }
        .btn {
            position: absolute;
            bottom: 0; left: 0;
            color: $white;
            border-radius: 0;
        }
    }
    &.tshirt {
        .product-image {
            border: 3px $red solid;
        }
        .product-desc {
            border: 3px $red solid;
            .price {
                background: $red;
            }
            .btn {
                background: $red;
            }
        }
    }
    &.shoe {
        .product-image {
            border: 3px $blue solid;
        }
        .product-desc {
            border: 3px $blue solid;
            .price {
                background: $blue;
            }
            .btn {
                background: $blue;
            }    
        }
    }
}

.btn-admin {
    background: $black;
    color: $white;
    transition: all ease-in-out .3s;
    &:hover {color:$white; background: darken($black, 5)}
}

.pagination {
    li {
        a {color: $blue;border-color: $blue; transition: all ease-in-out .3s; border-radius: 0px!important;
        &:hover {background: transparentize($blue, .75); border-color: $blue}
    }
        &.active {
            span {background: $blue; border-color: $blue;}
        }
    }
}